#projects-carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.project-carousel-item {
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
    min-width: 250px;
    box-sizing: border-box;
    color: white;
}